<section id="all-blogs-page">
    <article class="all-blogs-title">
        <h1>All Blogs</h1>
    </article>
    <!--If there are blogs in the database, show each one-->

    {{#if blogs}}
    {{#each blogs}}
    {{> blog}}
    {{/each}}
    {{else}}
    <!--If there are still no blogs in the database display:-->
    <article class="not-available-blogs">
        <h1>No blogs created yet.</h1>
    </article>
    {{/if}}
</section>