<div class="register-box">
    <h1>Register</h1>
    <form action="/auth/register", method="post">
        <label>Username</label>
        <input type="text" placeholder="Username.." name="username" value="{{body.username}}">
        <label>Email</label>
        <input type="text" placeholder="Email.." name="email" value="{{body.email}}">
        <label>Password</label>
        <input type="password" placeholder="Password.." name="password">
        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm Password.." name="repass">
        <input type="submit" value="Submit">
    </form>
    <p>Already have an account? <a href="/auth/login">Login here</a></p>
</div>