.register-box {
  color: black;
  width: 360px;
  height: 500px;
  margin: auto;
  margin-top: 4%;
  background-color: #ffeae7c6;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.register-box h1 {
  text-align: center;
  padding-top: 15px;
}

.register-box h4 {
  margin-top: 10px;
  text-align: center;
}

.register-box form {
  width: 300px;
  margin-left: 20px;
}

.register-box form label {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}

.register-box form input {
  width: 320px;
  height: 30px;
  padding-left: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
}

.register-box input[type="submit"] {
  width: 320px;
  height: 35px;
  margin-top: 30px;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
}

.register-box p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.register-box p > a {
  color: black;
}

