<article class="all-blogs-card">
    <article class="all-blogs-card-image">
        <!-- Do not forget to change the path to the image -->
        <img src="{{image}}" alt="blogs-icon">
    </article>

    <article class="all-blogs-card-content">
        <!--You must put the headline value in <h2>-->
        <h2>{{title}}</h2>
        <!--You must put the headline value in <h3>-->
        <h3>{{category}}</h3>
    </article>

    <article class="all-blogs-card-buttons">
        <a href="/blogs/{{_id}}/details" class="btn-details">Details</a>
    </article>
</article>